* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background: hsl(30, 38%, 92%);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
picture img {
  width: 100%;
}
section {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  font-size: .67em;
  font-weight: 500;
  letter-spacing: 3px;
  color: hsl(228, 12%, 48%);
}
.item-name {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  line-height: 30px;
}
.description {
  color: hsl(228, 12%, 48%);
  line-height: 20px;
  font-size: 13.6px;
}
.prices {
  display: flex;
  align-items: center;
}
.new-price {
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  margin-right: 15px;
}
.old-price {
  font-size: 13px;
  color: hsl(228, 12%, 48%);
}
.sr-only { 
  position: absolute;
  clip: rect(0,0,0,0);
}
button {
  border: none;
  border-radius: 7px;
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button:hover {
  background-color: hsl(158, 36%, 20%);
}
  
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    width: 600px;
  }
  picture img {
    width: 300px;
    height: 100%;
  }
}